@model IEnumerable<stickynotes.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="SurroundingDiv">
@foreach (var item in Model) 
{ 
    <div class="Stickynote">
    @Html.DisplayFor(modelItem => item.Text) 
    </div>
}


</div>
